[submodule "lib/php/core"]
	path = lib/php/core
	url = git@github.com:liangtao-top/v2dmim-core.git
    branch = main
[submodule "lib/php/kafka"]
	path = lib/php/kafka
	url = git@github.com:liangtao-top/kafka-php.git
	branch = main
[submodule "lib/php/etcd"]
	path = lib/php/etcd
	url = git@github.com:liangtao-top/etcd-php.git
	branch = main
[submodule "src/gw-websocket"]
	path = src/gw-websocket
	url = git@github.com:liangtao-top/v2dmim-websocket.git
	branch = main
[submodule "src/gw-http"]
	path = src/gw-http
	url = git@github.com:liangtao-top/v2dmim-http.git
	branch = main
[submodule "src/serv-core"]
	path = src/serv-core
	url = git@github.com:liangtao-top/v2dmim-handle.git
	branch = main

